# list
## list methods
# string
## string methods

In [1]:
mylist=[]

In [2]:
type(mylist)

list

In [3]:
mylist=list()

In [4]:
type(mylist)

list

In [5]:
names=['s','d']

In [6]:
type(names)

list

# finding number of items in list

In [7]:
len(names)

2

In [8]:
names[0]

's'

## acessing list itmes forwarding

In [9]:
names[0]='a'

In [10]:
names[0]

'a'

In [12]:
names[10]

IndexError: list index out of range

### backward indexing

In [13]:
names[-1]

'd'

## list methods

### 1.append(new_item)
- to add new item in the availble list

In [14]:
names.append('adafd')

In [15]:
names

['a', 'd', 'adafd']

In [16]:
new=['g','s']
names.append(new)

In [17]:
names

['a', 'd', 'adafd', ['g', 's']]

In [18]:
len(names)

4

In [19]:
type(names[3])

list

In [20]:
type(names[0])

str

## extend
 
 to add elements in the list to list

In [21]:
names=['s','d','l']
new=['g','k','m']
names.extend(new)

In [22]:
names

['s', 'd', 'l', 'g', 'k', 'm']

In [24]:
len(names)

6

In [26]:
sai=[40,50,60]
lakshmi=sai

In [27]:
lakshmi

[40, 50, 60]

In [29]:
sai

[40, 50, 60]

In [30]:
sai.append(100)

In [31]:
lakshmi

[40, 50, 60, 100]

In [32]:
lakshmi.append(200)

In [33]:
sai

[40, 50, 60, 100, 200]

### copy
- to copy the list

In [34]:
sai=[40,50,60]
lakshmi=sai.copy()

In [35]:
sai.append(100)

In [37]:
sai,lakshmi

([40, 50, 60, 100], [40, 50, 60])

In [38]:
names=['sai','lakshmi']
names[0]='ram'

In [39]:
names

['ram', 'lakshmi']

In [40]:
dir(names)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## clear()
- removes the total elements in the list

In [41]:
names=['s','a','i']
names.clear()
names

[]

In [42]:
names.clear()

In [43]:
names

[]

## pop()
- removes the last element in the list

In [44]:
names=['a','b','c']

In [45]:
names.pop()

'c'

In [46]:
names

['a', 'b']

## count(item)
- count no of time the item in the list

In [50]:
numbers=[10,1,20,[3,3],5]
numbers.count(3)

0

## index(item)
- return the index  of first occurance of the item in list  if available otherwise value error

In [51]:
numbers.index(10)

0

In [53]:
numbers=[10,1,20,3,3,5]
numbers.index(100)

ValueError: 100 is not in list

### index(item,positon)
- search the item from the position and return the index if available otherwise value error

In [55]:
numbers=[1,2,3,1,3,2,3,2,3]

In [56]:
numbers.index(3,4)

4

### insert(postion_to_insert,item)
- add the item at the position
- if index not available add the item at the last

In [63]:
numbers=[10,20,30,40,50,60]

In [64]:
numbers.insert(3,4)

In [65]:
numbers

[10, 20, 30, 4, 40, 50, 60]

In [67]:
numbers.insert(300,100)

In [68]:
numbers

[10, 20, 30, 100, 4, 40, 50, 60, 100]

In [70]:
numbers.pop(3)

100

In [74]:
numbers.remove(20)

In [75]:
numbers

[10, 4, 40, 50, 60, 100]

In [76]:
numbers.reverse()

In [77]:
numbers

[100, 60, 50, 40, 4, 10]

In [80]:
numbers.reverse()

In [81]:
numbers

[10, 4, 40, 50, 60, 100]

In [82]:
numbers.sort()

In [83]:
numbers

[4, 10, 40, 50, 60, 100]

In [84]:
numbers.sort(10)

TypeError: sort() takes no positional arguments

In [85]:
numbers.sort(0)

TypeError: sort() takes no positional arguments

In [86]:
sort(as)

SyntaxError: invalid syntax (<ipython-input-86-a2f68e01d0d4>, line 1)

In [87]:
numbers.sort(0)

TypeError: sort() takes no positional arguments

In [88]:
numbers.sort(reverse=True)

In [89]:
numbers

[100, 60, 50, 40, 10, 4]

# pop()
- removes the last element in the list and return the element

# pop(index)
- remove the itme in the index list and return the element

In [90]:
k=numbers.pop()

In [91]:
k

4

In [92]:
numbers.pop(4)

10

In [93]:
numbers

[100, 60, 50, 40]

In [94]:
numbers.pop(0)

100

# remove(item)
- removes the item
- returns value error if item is not in the list

In [128]:
numbers.remove(40)

ValueError: list.remove(x): x not in list

## reverse()
- reverse the elements in the list

In [103]:
numbers.reverse()

In [104]:
numbers

[]

In [105]:
numbers=[1,2,3,5,6,7,8]

In [112]:
k=numbers.reverse()

In [107]:
numbers

[8, 7, 6, 5, 3, 2, 1]

## sort()
- sort the element in ascending order default
- sort the the string in alaphabetical order if elements in the list are strings

In [113]:
numbers.sort(reverse=False)

In [114]:
numbers

[1, 2, 3, 5, 6, 7, 8]

In [115]:
numbers.sort(reverse=True)

In [116]:
numbers

[8, 7, 6, 5, 3, 2, 1]

In [117]:
h=['a','c','b','e']

In [118]:
h.sort()

In [119]:
h

['a', 'b', 'c', 'e']

In [126]:
h=['av','adsa','sa','raa']
h.sort()

In [127]:
h

['adsa', 'av', 'raa', 'sa']

In [3]:
numbers=[20,30,10,5,35]
print(numbers)

[20, 30, 10, 5, 35]

In [4]:
for hand in numbers:
    print(hand)

20
30
10
5
35

In [5]:
s=0
for hand in numbers:
    s=s+hand
print(s)

100

###  find the name of the student who got  higheist total marks

In [15]:
students=[["sai",30,40,50],["ram",40,50,60]]
sum=0
high=0
name=""
for i in students:
    for j in range(1,len(i)):
        sum=sum+i[j]
    if(high<sum):
        high=sum
        name=i[0]
print(name)

ram

In [17]:
nums=[1,2,3,10,30]
nums[1:4]

[2, 3, 10]

In [18]:
nums[1:]

[2, 3, 10, 30]

In [19]:
nums[4::-1]

[30, 10, 3, 2, 1]

# mylist=[[10,20],[45,30],[30,15]] sort the list using second element

In [36]:
mylist=[[10,20],[45,30],[30,15]]
for i in mylist:
    i=i.reverse()
mylist.sort()
for i in mylist:
    i=i.reverse()
print(mylist)

[[30, 15], [10, 20], [45, 30]]

In [32]:
mylist

[[10, 20], [30, 15], [45, 30]]

In [41]:
mylist=[[10,20],[45,30],[30,15]]
for i in range(len(mylist)):
    for j in range(len(mylist)-1):
        if(mylist[j][1]>mylist[j+1][1]):
            temp=mylist[j]
            mylist[j]=mylist[j+1]
            mylist[j+1]=temp
print(mylist)

[[30, 15], [10, 20], [45, 30]]

#  tuples,()
- collection of items and it is immutable
- declaration of tuples
- mytuple=()
- mytuple=tuple()

## methods in tuple

- count()

In [43]:
myTuple=(10,30,'sai',True)

In [44]:
myTuple.count(10)

1

In [45]:
myTuple[-1]

True

### index(item)
- retuns the inex value of item

In [46]:
myTuple.index(30)

1

In [47]:
myTuple.index(100)

ValueError: tuple.index(x): x not in tuple

In [3]:
numbers=(10,20,30)
sum(numbers)

6

In [6]:
print(min(numbers))

print(max(numbers))

10
30

## list slicing

In [7]:
numbers=[3,4,5,6,7,8]
numbers[0:3]

[3, 4, 5]

In [8]:
numbers[0:5:2]

[3, 5, 7]

In [9]:
numbers[:]

[3, 4, 5, 6, 7, 8]

In [10]:
numbers[5:1:-1]

[8, 7, 6, 5]

In [11]:
numbers[::-1]

[8, 7, 6, 5, 4, 3]

In [15]:
name="asdfghjk"
name[::-1]
name

'asdfghjk'

## strings

In [16]:
string1=''
string2=""
string3='''djkhf
jshkfa
skjhfjkdh
'''

In [17]:
name="python programming"
name[0]

'p'

In [18]:
type(name)

str

In [19]:
name[-1]

'g'

In [20]:
name[5:10]

'n pro'

## string methods

In [21]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# string methods
## 1.starts with (sub_string)
- to check string started with substring or not

In [22]:
name="python programming"
name.startswith('python')

True

### 2.endswith(sub_string)
- to check string ends with substring or not

In [23]:
name="python programming"
name.endswith('ing')

True

### 3.upper()
-return the string in uppercase

In [24]:
name="python programming"
name.upper()

'PYTHON PROGRAMMING'

### 4.lower()
-return the string in lowercase

In [25]:
name="PYTHON programming"
name.lower()

'python programming'

## 5.islower()
-to check string in lower case or not

In [26]:
name="python programming"
name.islower()

True

## 6.isupper()
-to check string in upper case or not

In [27]:
name="PYTHON PROGRAMMING"
name.isupper()

True

## 7.isdigit()
-  check every character in string is digit or not

In [28]:
n='123'
n.isdigit()

True

## 8.swapcase()
- change the lower case letters to upper vice versa

In [29]:
name='pYtHoN'
name.swapcase()

'PyThOn'

## 9.isalpha
-to check each element is alphabet or not

In [31]:
name='pyhton'
name.isalpha()

True

## 10.split(delimeter)
- to split the strings using delemeter

In [36]:
name='i am from vijayawada'
name.split('m')

['i a', ' fro', ' vijayawada']

## 11.join()
- syntax
'item'.join(list_of words)

In [43]:
words=['i a', ' fro', ' vijayawada']
'm'.join(words)

'i am from vijayawada'

## 12.strip()
- removes the starting and ending spaces

In [44]:
name=' sairam '

In [45]:
name.strip()

'sairam'

## 13.lstrip()
- removes the leftside spaces

In [46]:
name.lstrip()

'sairam '

# 14.rstrip()
- removes the rightside spaces

## print the max number and min number
- take the input from user upto user enters done

In [81]:
k=[]
while(True):
    a=input()
    if(a.isdigit()):
            k.append(int(a))
    elif(a=='done'):
        break
print("max number in list",max(k))
print("min number in list",min(k))

1
2
3
4
a
s
ds
ddsf
sdf
done
max number in list 4
min number in list 1