# Dictionary
- collection of items  alligned with key value pair

In [1]:
myDict={}
myDict=dict()

In [2]:
 myDict

{}

In [7]:
myDict={'name':'sai','branch':'cse'}
len(myDict)

2

In [11]:
myDict['name']

'sai'

In [12]:
myDict['branch']

'cse'

In [14]:
myDict['mobile']=9876543210

In [15]:
myDict

{'name': 'sai', 'branch': 'cse', 'mobile': 9876543210}

In [16]:
dir(myDict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

## 1.keys()
- return total keys in the dictionary in a list

In [17]:
myDict.keys()

dict_keys(['name', 'branch', 'mobile'])

## 2.clear()
- removes the all items in dictionary

In [19]:
myDict.clear()

In [20]:
myDict

{}

## 3.copy()
- to take new back up

## 4.fromkeys()
- assign the collection of keys to dictionary default value of key is none
- we can assign default value as second argument

In [23]:
students=['sairam','lakshmi']
{}.fromkeys(students,10)

{'sairam': 10, 'lakshmi': 10}

## T1-asigning values to the dictionary

In [28]:
students=['sairam','lakshmi']
marks=[30,50]
myDict={}.fromkeys(students)
myDict

{'sairam': None, 'lakshmi': None}

In [32]:
j=0
for i in myDict:
    myDict[i]=marks[j]
    j=j+1

## 5.get(key,'argument')
- to get the value of key if avilable otherwise retuns none
- we can pass  the second argument  it prints if key is not there

In [33]:
myDict

{'sairam': 30, 'lakshmi': 50}

In [40]:
myDict={'name':'meena','branch':'cse'}
myDict.get('name')

'meena'

In [43]:
print(myDict.get('so','not available'))

not available

## 6.items()
- returns items in dictionary

In [44]:
myDict.items()

dict_items([('name', 'meena'), ('branch', 'cse')])

## T2-print 
-  name ----> meena
- branch ----> cse

In [48]:
for key in myDict:
    print(key,"---->",myDict[key])

name ----> meena
branch ----> cse

In [49]:
result=myDict.items()

In [50]:
result

dict_items([('name', 'meena'), ('branch', 'cse')])

In [51]:
type(result)

dict_items

In [57]:
for item in result:
    print(item[1])

meena
cse

## T3- frequncy of letters using dicionary

In [75]:
name='sairam'
freq={}
for i in name:
    c=0
    for j in name:
        if(i==j):
            c=c+1
            freq[i]=c
print(freq)

{'s': 1, 'a': 2, 'i': 1, 'r': 1, 'm': 1}

vary='sairam'
fre={}
for char in vary:
    old=fre.get(char,0)
    fre[char]=old+1
print(fre)

## 7.pop(key,msg)
- remove the item  related to the given key
- and return the element
- if key is not available it returns the msg

In [73]:
fre.pop('s','key not found')

'key not found'

## 8.popitem()
- removes the item

In [74]:
fre.popitem()

('m', 1)

## 9.setdefault()

In [76]:
fre

{'a': 2, 'i': 1, 'r': 1}

In [79]:
fre.setdefault('a')# if key is avilabale returns value

2

In [86]:
fre.setdefault('m',10) # if key is not available creates key and assign the default none value we 
                    #can give the value in second argument
fre

{'a': 2, 'i': 1, 'r': 1, 'x': None, 'm': 10}

In [87]:
fre

{'a': 2, 'i': 1, 'r': 1, 'x': None, 'm': 10}

## 10.update(dict)
#### syntax
- updatingdic.update(dic)

In [88]:
mydic={'name':'meena','mobile':9876543210}
change={'mobile':1234567890,'location':'vijayawada'}
mydic.update(change)

In [90]:
mydic

{'name': 'meena', 'mobile': 1234567890, 'location': 'vijayawada'}

## 11.values()
- returns the values of dictionary

In [94]:
mydic.values()

dict_values(['meena', 1234567890, 'vijayawada'])

# SETS
- operation on sets
#### union()
- set1.union(s2)
### intersection()
- set1.intersection(s2)

In [95]:
s={30,40,10}
type(s)

set

In [96]:
s1={100,20,20,30}

In [97]:
s1

{20, 30, 100}

In [107]:
s2={10,40,60,20}

In [108]:
s2

{10, 20, 40, 60}

In [109]:
s1.union(s2)

{10, 20, 30, 40, 60, 100}

In [110]:
s1

{20, 30, 100}

In [111]:
s2.intersection(s1)

{20}

## 1. issubset()
- checks is subset is present in set or not

In [113]:
s1={1,2,3}
s2={1,2,3,4,5,6}
s1.issubset(s2)

True

## 2.issuperset()
- checks the superset of set or not

In [114]:
s2.issuperset(s1)

True

In [115]:
s1.issuperset(s2)

False

## 3.difference()
#### syntax
- set1.difference(set2)
- return the values that is present in only  set 1 and not presnt in set2

In [116]:
s1={1,2,10}
s2={2,30,40}
s1.difference(s2)

{1, 10}

## 4.difference_update
#### syntax
- set1.difference_update1 (set2)
- assign the set1 to diffrence set1 and set2

In [119]:
s2.difference_update(s1)

In [120]:
s2

{30, 40}

## 4.add()

In [121]:
s1.add(100)

In [122]:
s1

{1, 2, 10, 100}

# T-3
- assign the total marks in the dictionary

In [20]:
students=[('sairam',[10,20,30]),('lakhmi',[30,40,50])]
report={}
for i in students:
    report[i[0]]=sum(i[1])
print(report)

{'sairam': 60, 'lakhmi': 120}

In [16]:
high

In [21]:
students=[('sairam',[10,20,30]),('lakhmi',[30,40,50])]
hi=0
name=''
for i in students:
    k=sum(i[1])
    if(hi<k):
        name=i[0]
        hi=k
print(name)

lakhmi

In [25]:
students=[('sairam',[10,20,30]),('lakhmi',[30,40,50])]
report={}
for i in students:
    report[i[0]]=sum(i[1])
hi=max(report.values())
for i in report.items():
    if(students[1]==hi):
        print(i[0])

## .(dot)
- any single charcter

In [5]:
import re
re.search('...','ptyhon')

### ^
- starting

In [18]:
re.match('m','msdfjsh')

In [17]:
import re
re.search('^p','python')

## find the fruits with 6 charcters

In [35]:
fruits=['apple','orange','mango','grapes']
for fruit  in fruits:
    if(re.search('^......$',fruit)):
        print(fruit)

orange
grapes

## $ 
- ending with

In [28]:
re.search('n$','python')

In [34]:
re.search('^......$','python')

### {min,max}
- select the character in between min and max

In [46]:
re.search('^.{3,5}$','12345')

In [47]:
re.search('^.{3,5}$','1234567')

In [48]:
re.search('.{3,5}$','1234567')

In [49]:
re.search('^.{5}$','12345')

## group() 
- to print values that is matched with the pattern

In [55]:
result=re.search('.{5}$','1234567')
result.group()

'34567'

In [58]:
names=['sairam','lakshmi','ramu','raju','hemanth']
for name in names:
    result=re.search('...$',name)
    print(result.group())

ram
hmi
amu
aju
nth

## \d
- single digit

In [73]:
re.search('\d{2}3$','sai1223')

## \D
- select other than digit

In [80]:
re.search('\D','123 sai')

In [85]:
mobiles=['1234568790','9876543210','12312423423534','8976543210','7890654321']
for mobile in mobiles:
    if re.search('^9\d{9}$',mobile):
        print(mobile)

9876543210

## []
- one of the character

In [90]:
re.search('[123]','516')

In [94]:
mobiles=['1234568790','9876543210','12312423423534','8976543210','7890654321']
for mobile in mobiles:
    if re.search('^[9876]\d{9}$',mobile):
        print(mobile)

9876543210
8976543210
7890654321

In [93]:
re.search('[98765]','abc12389')

## Escape sequence
- $
- ^

In [96]:
re.search('\$','45$')

In [97]:
re.search('\^','45$')

# *
- 0 or more

# +
- 1 or more

In [99]:
re.search('^p.*n$','python')

In [105]:
re.search('s*','sssssssssssaasdfs')

In [106]:
re.search('.*','sssssssssssaasdfs')

In [110]:
re.search('c*','abc')

In [111]:
re.search('s+','sssssssssssaasdfs')

In [107]:
re.search('a+','aaaaabaaac')

In [112]:
re.search('p+','sssssssssssaasdfs')

###  print the name@gmail.com

In [121]:
emails=['sai@gmail.com','sai123@gmail.com','sai 123@gmail.com']
for email in emails:
    if re.search('^[a-zA-Z0-9]+@gmail\.com$',email):
        print(email)

sai@gmail.com
sai123@gmail.com

### \s
- spacing character

In [122]:
re.search('\s','sai ram')

## \S
- other than charcter

In [123]:
re.search('\S','sai ram')

## \w
- select identifiers a-z A-Z 0-9_

In [124]:
re.search('\w','_abc')

## \W

In [125]:
dir(re)

['A',
 'ASCII',
 'DEBUG',
 'DOTALL',
 'I',
 'IGNORECASE',
 'L',
 'LOCALE',
 'M',
 'MULTILINE',
 'Match',
 'Pattern',
 'RegexFlag',
 'S',
 'Scanner',
 'T',
 'TEMPLATE',
 'U',
 'UNICODE',
 'VERBOSE',
 'X',
 '_MAXCACHE',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 '_cache',
 '_compile',
 '_compile_repl',
 '_expand',
 '_locale',
 '_pickle',
 '_special_chars_map',
 '_subx',
 'compile',
 'copyreg',
 'enum',
 'error',
 'escape',
 'findall',
 'finditer',
 'fullmatch',
 'functools',
 'match',
 'purge',
 'search',
 'split',
 'sre_compile',
 'sre_parse',
 'sub',
 'subn',
 'template']

In [126]:
data=""" sai 100
ram 200
500 lakshmi"""

In [127]:
type(data)

str

In [154]:
data.split(' ')

['', 'sai', '100\nram', '200\n500', 'lakshmi']

In [155]:
data

' sai 100\nram 200\n500 lakshmi'

In [157]:
data="""sai 100
ram 200
500 lakshmi"""

In [158]:
data

'sai 100\nram 200\n500 lakshmi'

In [170]:
s=data
s

'sai 100\nram 200\n500 lakshmi'

In [171]:
s.split()

['sai', '100', 'ram', '200', '500', 'lakshmi']

In [181]:
s.split()
type(s)

str

In [182]:
len(s)

27

In [183]:
m="""sai 100
ram 200
500 lakshmi"""
m.split(' ')

['sai', '100\nram', '200\n500', 'lakshmi']

In [186]:
data

'sai 100\nram 200\n500 lakshmi'

In [196]:
numbers=re.findall('\d+',data)
total=0
for each in numbers:
    total+=int(each)
print(total)

800

In [198]:
digits=re.findall('\d',data)

In [200]:
total=0
for i in digits:
    total+=int(i)
print(total)

8